@import '~bootstrap/scss/bootstrap';

/*Layout*/
.container{
    width: 70%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
/* General */
ul{
    list-style-type: none;
}
img{
    height: 100%;
}
a{
    text-decoration: none;
}
/* Header */
.top-row{
    background-color: rgb(2, 130, 249);
    width: 100%;
    font-size: 10px;
    color: white;
    padding: 5px 0;
    .content{
        display: flex;
        justify-content: flex-end;
        span:nth-child(2){
            margin-left: 50px;
        }
    }
}
header{
    padding: 15px 0;
    .row{
        flex-wrap: nowrap;
    }
    .col{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .logo{
        height: 65px;
    }
}
.list{
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
ul{
    display: flex;
    padding: 0;
    margin: 0;
    li{
        margin: 15px;
        a{
            color: black;
            position: relative;
        }
        a.active{
            color: rgb(2, 130, 249);
        }
        a.active::after{
            content: '';
            position: absolute;
            height: 5px;
            width: 100%;
            background-color: rgb(2, 130, 249);
            left: 0;
            bottom: -42px;
        }
    }
}
}
.search{
    input{
        appearance: none;
        border: none;
        border-bottom: 3.5px solid rgb(2, 130, 249);
    }
}
/* Main */
.jumbotron{
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
    height: 320px;
  }
  .background{
    background-color: rgb(28, 28, 28);
  }
  .container{
    position: relative;
  }
  .contents{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: column;
    .comics{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .card{
        width: calc(100% / 6 - 15px);
        margin-bottom: 40px;
      }
    }
    button{
      align-self: center;
      appearance: none;
      text-transform: uppercase;
      color: white;
      background-color: rgb(2, 130, 249);
      border: none;
      padding: 10px 50px;
      font-size: 12px;
      font-weight: bold;
    }
    .badge{
      text-transform: uppercase;
      color: white;
      background-color: rgb(2, 130, 249);
      padding: 10px 20px;
      position: absolute;
      top: -15px;
      left: -15px;
      border-radius: 0;
    }
  }
/*Utilities*/
.h100{
    height: 100%;
}
.w100{
    width: 100%;
}